script(type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
doctype html
html
  head
    link(rel="icon",type="image/png",href="../img/litbyfavicon.ico")
    meta(charset='UTF-8')
    title Litby Editor
    link(rel='stylesheet', href='../css/demo.css')
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css')
    link(rel='stylesheet', href='../dist/css/medium-editor.css')
    link(href="https://fonts.googleapis.com/css?family=Lato|Raleway" rel="stylesheet")
    link#medium-editor-theme(rel='stylesheet', href='../dist/css/themes/beagle.css')
  body
    #container
      h1
        | Litby Editor
        sup BETA
      if doc
        .editable(id=doc._id)
          !{entries}
  .layout(id='paging')
  script.
      var index = parseInt('!{index}')
      var count = parseInt('!{count}')
      if(index<count){
        var a = document.createElement('a');
        var linkText = document.createTextNode("<< Previous Page");
        a.appendChild(linkText);
        a.title = "<< Previouse Page";
        a.href = "/litby/geteditor?fbid=".concat('!{fbid}','&index=',index+1,'&count=',count);
        a.style['float'] = "left"
        document.getElementById('paging').appendChild(a);

      }
      if(index!=0){
      var a = document.createElement('a');
      var linkText = document.createTextNode("Next Page >>");
      a.appendChild(linkText);
      a.title = "Next Page >>";
      a.href = "/litby/geteditor?fbid=".concat('!{fbid}','&index=',index-1,'&count=',count);
      a.style['right'] = "right"
      
      document.getElementById('paging').appendChild(a);
      }

  script(src='../dist/js/medium-editor.js')
  script.
    var editor = new MediumEditor('.editable');
    var triggerAutoSave = function (event, editable) {
          for (var prop in editable) {
            console.log('obj.' + prop + ' = ' + editable[prop]);
          }
          for (var prop in event.target) {
            console.log('event.target' + prop + ' = ' + event.target[prop]);
          }
          $.ajax({
          url: "/litby/savedb",
          type: "POST",
          //somehow get forms
          data: {data:editable.innerHTML,
                  id:editable.id,
                  fbid:'!{fbid}'},
          error: function(xhr, status, error) {
            console.log(xhr.responseText);
          }
      });
    };
    var throttledAutoSave = MediumEditor.util.throttle(triggerAutoSave, 5000);
          // Listening to editable events starts here
    editor.subscribe('editableInput', throttledAutoSave);
    cssLink = document.getElementById('medium-editor-theme');
  script(src='../js/test.js')
